# IDEs y Editores (Específico para tu Mac)
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Dependencias (Nunca subas esto, es muy pesado)
node_modules/
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Caché de herramientas
.cache/
.vite/
.turbo/

# Variables de Entorno (CRÍTICO: No subas tus llaves de API futuras)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Otros
coverage/
tmp/